
    {{ student.last_name }} {{ student.first_name }}
    {% for group in student.groups.all %}
        {% if group.name != 'students' %}
            [{{ group.name }}]
        {% endif %}
    {% endfor %}
    <table border="1">
    {% for testset in testsets %}
        <tr>
            <td><a href="{% url 'testset_result_all' testset.0.test_set.id %}">{{ testset.0.test_set }}</a></td>
            <td><tt>{{ testset.0.get_status_display }}</tt></td>
            <td>{{ testset.1.0 }}/{{ testset.1.1 }}</td>
        </tr>
    {% endfor %}
    </table>