            <table border="1">
                <tr>
                    <td>Правильный ответ</td>
                    <td>Ответ ученика</td>
                    <td>Результат автопроверки</td>
                </tr>
                <tr>
                    <td>{{ problem.submit.assignment.problem.short_answer }}</td>
                    <td>{{ problem.submit.short_answer }}</td>
                    <td>{% if problem.submit.answer_autoverdict == False %}–
                        {% elif problem.submit.answer_autoverdict == True %}+
                        {% endif %}
                    </td>
                </tr>
            </table>

{% if object.yesno_answer != 0 or object.multiplechoice_answer %}
    <h6>СДАННЫЙ ОТВЕТ</h6>
{% endif %}
        {% if object.yesno_answer != 0 %}
            {{ object.get_yesno_answer_display }}
        {% endif %}
        <div class="problem-student-form">
            <ul>
            {% for variant in problem.variants.all %}
                <li>{% if variant.id|slugify in object.multiplechoice_answer %}
                    +
                {% else %}
                    -
                {% endif %}
                {{ variant }}
                </li>
            {% endfor %}
            </ul>
        </div>
{% if object.solution %}
    <h6>СДАННОЕ РЕШЕНИЕ</h6>
    {{ object.solution }}
{% endif %}
