<style type="text/css">
    #sidebar {
        background: #DCDCDC;
        float: left;
        width: 370px;
        border: 1px solid black;
        padding: 5px;
    }

    #content {
        float: left;
        width: 120px;
        border: 1px solid black;
        padding: 5px;
        background: #DCDCDC;
    }
</style>
{{ student.last_name }} {{ student.first_name }}
{% for group in student.groups.all %}
{% if group.name != 'students' %}
[{{ group.name }}]
{% endif %}
{% endfor %}

<p><a href="../../">[Вернуться на главную страницу]</a></p>
<p><big><i>Назначенные тесты</i></big></p>
<div>
    <div id="sidebar">
        {% for assignment in testsetsAssignment %}
        <p><a href="{% url 'testset_result_all' assignment.test_set.id %}">{{ assignment.test_set }}</a>
            <tt>{{ assignment.get_status_display }}</tt></p>
        {% endfor %}
    </div>
    <div id="content">
        {% for point in points %}
        <p>
            {{ point }}
        </p>
        {% endfor %}
    </div>
</div>
<div>
    <p><big><i>Неназначенные тесты</i></big></p>
    <form method="post" name="new_test" action="{% url 'student_page' id %}">
        {% csrf_token %}
        <table border="1">
            {% for testset in all_testsets %}
            <tr>
                {% if testset not in testsets %}
                <td><tt>{{ testset }}</tt></td>
                <td><tt><input type="radio" name="new_test" value="{{ testset }}"> Назначить тест</tt></td>
                {% endif %}
            </tr>
            {% endfor %}
        </table>
        <input type="submit" value="Назначить выбранный тест">
    </form>
</div>