
              <!-- Collapsable Card Example -->
              <div class="card shadow mb-4">
                <!-- Card Header - Accordion -->
                <a href="#collapse{{ element.id }}" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapse{{ element.id }}">
                  <h6 class="m-0 font-weight-bold text-primary">{{ element.name }}</h6>
                </a>
                <!-- Card Content - Collapse -->
                <div class="collapse" id="collapse{{ element.id }}">
                  <div class="card-body">
                    {% for element in topic.children.all %}
                            {% if element.children %}
                                {% with topic=element template_name="problems/tree_level.html" %}
                                   {% include template_name %}
                                {% endwith %}
                            {% endif %}
                    {% endfor %}
                      {% if topic.leaf %}
                        {% with problems=topic.problems.all %}
                            {% include "problems/problem_list.html" %}
                        {% endwith %}
                      {% endif %}
                  </div>
                </div>
              </div>

