{% extends "problems/sb/base.html" %}
{% block topbar %}
<!-- Topbar Navbar -->
<ul class="navbar-nav ml-auto">


    <div class="topbar-divider d-none d-sm-block"></div>
    <!-- Nav Item - Alerts -->
    <li class="nav-item dropdown no-arrow mx-1">
        <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button" data-toggle="dropdown"
           aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-bell fa-fw"></i>
            <!-- Counter - Alerts -->
            <span class="badge badge-danger badge-counter">{{ submits|length }}</span>
        </a>
        <!-- Dropdown - Alerts -->
        <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
             aria-labelledby="alertsDropdown">
            <h6 class="dropdown-header">
                Сданные решения
            </h6>
            {% include 'problems/alerts.html' %}
            <!--a class="dropdown-item text-center small text-gray-500" href="#">Show All Alerts</a-->
        </div>
    </li>
    <!-- Nav Item - User Information -->
    <li class="nav-item dropdown no-arrow">
        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown"
           aria-haspopup="true" aria-expanded="false">
            <span class="mr-2 d-none d-lg-inline text-gray-600 small">{{ request.user.first_name }} {{ request.user.last_name }}</span>
        </a>
        <!-- Dropdown - User Information -->
        <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
            <a class="dropdown-item" href="#">
                <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                Профиль
            </a>
            <a class="dropdown-item" href="#">
                <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                Настройки
            </a>
            <a class="dropdown-item" href="#">
                <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                Список активностей
            </a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{% url 'logout' %}">
                <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                Выход
            </a>
        </div>
    </li>

</ul>
{% endblock %}
{% block sidebar%}
<li><a class="fas text-gray-400" href="admin">Admin page</a></li>
<li><a href="rejudge"><input type="submit" value="Оценить заново тест"/></a></li>
{% endblock %}
{% block content %}
<style>
.collapsible {
  cursor: pointer;
  outline: none;
}

.active, .collapsible:hover {
}

.content {
  display: none;
}

</style>
<!-- Begin Page Content -->
<div class="container-fluid">
    <form action="{{ action }}" id="filters" method="POST">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-auto">
                <h4>ТЕМЫ:</h4>
                {% with field="topic" %}
                {% with checkedlist=checked_topics %}
                {% include 'problems/object_level.html' with object_list=topic_list %}
                {% endwith %}
                {% endwith %}
            </div>
            <div class="col-md-auto">
                <h4>ИСТОЧНИКИ:</h4>
                {% with field='source' %}
                {% with checkedlist=checked_sources %}
                {% include 'problems/object_level.html' with object_list=source_list %}
                {% endwith %}
                {% endwith %}
            </div>
        </div>
        <div class="row">
            <div class="col-8">
                <h4><input type="submit" value="Обновить список задач"></h4>
            </div>
        </div>

    </form>
    <form method="POST" action="{% url 'assign' %}">
        {% csrf_token %}
        <div class="row">
            <div class="col-10  ">

                <div class="tab-content">
                    {% include 'problems/testsets.html' %}
                </div>
                <div class="alert alert-primary" role="alert">
                    <b>Создать новый тест из выбранных задач</b>
                    <br><br>Название теста:
                    <input type="text" name="name">&nbsp;&nbsp;&nbsp;
                    <input type="submit" name="submit" value="Создать тест">
                </div>
                <div class="alert alert-primary" role="alert">
                    <b>Назначить выбранные тесты выбранным ученикам/группам</b>
                    <br><br>Срок сдачи:
                    <input type="date" name="date_test_deadline">&nbsp;&nbsp;&nbsp;
                    <input type="submit" name="submit" value="Назначить тесты">
                </div>
                <div class="alert alert-primary" role="alert">
                    <b>Назначить выбранные задачи выбранным ученикам/группам</b>
                    <br><br>Срок сдачи:
                    <input type="date" name="date_deadline">&nbsp;&nbsp;&nbsp;
                    <input type="submit" name="submit" value="Назначить задачи">
                </div>
                <div class="alert alert-primary" role="alert">
                    <b>Выбрано задач: <div class="counter" style="display:inline;"></div></b>
                </div>
                <ul class="nav nav-tabs">
                    <li class="nav-item active"><a class="nav-link active paginator-amount" data-toggle="tab" href="#problems">Задачи (</a></li>
                    <li class="nav-item"><a class="nav-link paginator-amount" data-toggle="tab" href="#tests">Тестовые вопросы (</a></li>
                    <li class="nav-item"><a class="nav-link paginator-amount" data-toggle="tab" href="#cases">Качественные задачи (</a></li>
                </ul>
                <div class="tab-content">
                  <div id="problems" class="tab-pane in active">
                        <div class="card shadow mb-4">
                            <div class="card-body paginator" id="prob">
                            </div>
                        </div>
                  </div>
                  <div id="tests" class="tab-pane fade">
                        <div class="card shadow mb-4">
                            <div class="card-body paginator" id="test">
                            </div>
                        </div>
                  </div>
                  <div id="cases" class="tab-pane fade ">
                        <div class="card shadow mb-4">
                            <div class="card-body paginator" id="case">
                            </div>
                        </div>
                  </div>
                </div>
            </div>

                <div class="col-md-auto">
                    <h3>Ученики</h3>
                    <div id="students">
                        {% include "problems/student_list.html" %}
                    </div>
                    <p></p>
                    <h3>Группы</h3>
                    <div id="groups">
                        {% include "problems/group_list.html" %}
                    </div>
                </div>

        </div>

    </form>
</div>
<!-- /.container-fluid -->
<script>
var coll = document.getElementsByClassName("collapsible");
var i;

for (i = 0; i < coll.length; i++) {
  coll[i].getElementsByTagName('input')[0].addEventListener("click", function(event) {
    event.stopPropagation();
  });
  coll[i].addEventListener("click", function(event) {
    this.classList.toggle("active");
    if(this.children[1]) {
        var content = this.children[1].firstChild; // li -> nobr, ul -> div
        if (content.style.display === "block") {
            content.style.display = "none";
            this.firstChild.firstChild.classList.remove('fa-minus-square');
            this.firstChild.firstChild.classList.add('fa-plus-square');
        } else {
            content.style.display = "block";
            this.firstChild.firstChild.classList.remove('fa-plus-square');
            this.firstChild.firstChild.classList.add('fa-minus-square');
        }
    }
    event.stopPropagation();
  });
}

</script>
{% endblock %}

