.problem-header{white-space:nowrap}
h6 div{display:inline-block;}
.problem-student-form ul{list-style-type:none;}
.hidden {display: none;}
.currentButton {background-color: aqua;}
.inline {display: inline;}
.resistor {text-align: center;}